In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv('CarPrice_Assignment.csv')
df.head(10)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.000
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.000
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.000
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.000
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.000
5,6,2,audi fox,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250.000
6,7,1,audi 100ls,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710.000
7,8,1,audi 5000,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920.000
8,9,1,audi 4000,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875.000
9,10,0,audi 5000s (diesel),gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,17859.167

In [2]:
df.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [3]:
df.dtypes

car_ID                int64
symboling             int64
CarName              object
fueltype             object
aspiration           object
doornumber           object
carbody              object
drivewheel           object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype           object
cylindernumber       object
enginesize            int64
fuelsystem           object
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

In [4]:
#select columns used for one hot encoding
df=pd.read_csv('CarPrice_Assignment.csv',usecols=['CarName','fueltype','aspiration'
                                                 ,'doornumber','carbody','drivewheel','enginelocation',
                                                 'enginetype','cylindernumber','fuelsystem',
                                                 ])
df.head(10)

,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem
0,alfa-romero giulia,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero stelvio,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,audi 100 ls,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,audi 100ls,gas,std,four,sedan,4wd,front,ohc,five,mpfi
5,audi fox,gas,std,two,sedan,fwd,front,ohc,five,mpfi
6,audi 100ls,gas,std,four,sedan,fwd,front,ohc,five,mpfi
7,audi 5000,gas,std,four,wagon,fwd,front,ohc,five,mpfi
8,audi 4000,gas,turbo,four,sedan,fwd,front,ohc,five,mpfi
9,audi 5000s (diesel),gas,turbo,two,hatchback,4wd,front,ohc,five,mpfi

In [7]:
#chech\k unique values
for col in df.columns:
    print(col,':',len(df[col].unique()),'labels')

CarName : 147 labels
fueltype : 2 labels
aspiration : 2 labels
doornumber : 2 labels
carbody : 5 labels
drivewheel : 3 labels
enginelocation : 2 labels
enginetype : 7 labels
cylindernumber : 7 labels
fuelsystem : 8 labels

In [8]:
#check how many new columns are added after one hot encoding
pd.get_dummies(df,drop_first=True).shape

(205, 175)

In [9]:
#let us find the top most frequent catagaries for the variable CarName
df.CarName.value_counts().sort_values(ascending=False).head(10)

toyota corona           6
toyota corolla          6
peugeot 504             6
subaru dl               4
honda civic             3
mitsubishi mirage g4    3
toyota mark ii          3
mitsubishi outlander    3
mitsubishi g4           3
mazda 626               3
Name: CarName, dtype: int64

In [21]:
#let us make a list with most frequent catagaries 
top_10=[x for x in df.CarName.value_counts().sort_values(ascending=False).head(10).index]
top_10

['toyota corona',
 'toyota corolla',
 'peugeot 504',
 'subaru dl',
 'honda civic',
 'mitsubishi mirage g4',
 'toyota mark ii',
 'mitsubishi outlander',
 'mitsubishi g4',
 'mazda 626']

In [22]:
#make 10 binary varibles
for label in top_10:
    df[label]=np.where(df['CarName']==label,1,0)
df[['CarName']+top_10].head(80)

,CarName,toyota corona,toyota corolla,peugeot 504,subaru dl,honda civic,mitsubishi mirage g4,toyota mark ii,mitsubishi outlander,mitsubishi g4,mazda 626
0,alfa-romero giulia,0,0,0,0,0,0,0,0,0,0
1,alfa-romero stelvio,0,0,0,0,0,0,0,0,0,0
2,alfa-romero Quadrifoglio,0,0,0,0,0,0,0,0,0,0
3,audi 100 ls,0,0,0,0,0,0,0,0,0,0
4,audi 100ls,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
75,mercury cougar,0,0,0,0,0,0,0,0,0,0
76,mitsubishi mirage,0,0,0,0,0,0,0,0,0,0
77,mitsubishi lancer,0,0,0,0,0,0,0,0,0,0
78,mitsubishi outlander,0,0,0,0,0,0,0,1,0,0
79,mitsubishi g4,0,0,0,0,0,0,0,0,1,0

In [24]:
#our next target is to get dummy binaries for  all catagarical features
def one_hot_encode(df,variable,top_x_labels):
    
    for label in top_x_labels:
        df[variable+'_'+label]=np.where(df[variable]==label,1,0)
#read dataset again
df=pd.read_csv('CarPrice_Assignment.csv',usecols=['CarName','fueltype','aspiration'
                                                 ,'doornumber','carbody','drivewheel','enginelocation',
                                                 'enginetype','cylindernumber','fuelsystem',
                                                 ])

#encode CarName into 10 most frequent catagaries
one_hot_encode(df,'CarName',top_10)
df.head(10)

,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem,CarName_toyota corona,CarName_toyota corolla,CarName_peugeot 504,CarName_subaru dl,CarName_honda civic,CarName_mitsubishi mirage g4,CarName_toyota mark ii,CarName_mitsubishi outlander,CarName_mitsubishi g4,CarName_mazda 626
0,alfa-romero giulia,gas,std,two,convertible,rwd,front,dohc,four,mpfi,0,0,0,0,0,0,0,0,0,0
1,alfa-romero stelvio,gas,std,two,convertible,rwd,front,dohc,four,mpfi,0,0,0,0,0,0,0,0,0,0
2,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi,0,0,0,0,0,0,0,0,0,0
3,audi 100 ls,gas,std,four,sedan,fwd,front,ohc,four,mpfi,0,0,0,0,0,0,0,0,0,0
4,audi 100ls,gas,std,four,sedan,4wd,front,ohc,five,mpfi,0,0,0,0,0,0,0,0,0,0
5,audi fox,gas,std,two,sedan,fwd,front,ohc,five,mpfi,0,0,0,0,0,0,0,0,0,0
6,audi 100ls,gas,std,four,sedan,fwd,front,ohc,five,mpfi,0,0,0,0,0,0,0,0,0,0
7,audi 5000,gas,std,four,wagon,fwd,front,ohc,five,mpfi,0,0,0,0,0,0,0,0,0,0
8,audi 4000,gas,turbo,four,sedan,fwd,front,ohc,five,mpfi,0,0,0,0,0,0,0,0,0,0
9,audi 5000s (diesel),gas,turbo,two,hatchback,4wd,front,ohc,five,mpfi,0,0,0,0,0,0,0,0,0,0

In [27]:
#now create dummies for remaining aslo
top_2=[x for x in df.fueltype.value_counts().sort_values(ascending=False).head(2).index]
top_2

['gas', 'diesel']

In [29]:
one_hot_encode(df,'fueltype',top_2)
df.head(10)

,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem,...,CarName_peugeot 504,CarName_subaru dl,CarName_honda civic,CarName_mitsubishi mirage g4,CarName_toyota mark ii,CarName_mitsubishi outlander,CarName_mitsubishi g4,CarName_mazda 626,fueltype_gas,fueltype_diesel
0,alfa-romero giulia,gas,std,two,convertible,rwd,front,dohc,four,mpfi,...,0,0,0,0,0,0,0,0,1,0
1,alfa-romero stelvio,gas,std,two,convertible,rwd,front,dohc,four,mpfi,...,0,0,0,0,0,0,0,0,1,0
2,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi,...,0,0,0,0,0,0,0,0,1,0
3,audi 100 ls,gas,std,four,sedan,fwd,front,ohc,four,mpfi,...,0,0,0,0,0,0,0,0,1,0
4,audi 100ls,gas,std,four,sedan,4wd,front,ohc,five,mpfi,...,0,0,0,0,0,0,0,0,1,0
5,audi fox,gas,std,two,sedan,fwd,front,ohc,five,mpfi,...,0,0,0,0,0,0,0,0,1,0
6,audi 100ls,gas,std,four,sedan,fwd,front,ohc,five,mpfi,...,0,0,0,0,0,0,0,0,1,0
7,audi 5000,gas,std,four,wagon,fwd,front,ohc,five,mpfi,...,0,0,0,0,0,0,0,0,1,0
8,audi 4000,gas,turbo,four,sedan,fwd,front,ohc,five,mpfi,...,0,0,0,0,0,0,0,0,1,0
9,audi 5000s (diesel),gas,turbo,two,hatchback,4wd,front,ohc,five,mpfi,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
#similarly we can add dummies for other varibles aslo
#but this technique is used widely in such cases in which number of unique values are too much
#in this example  number of unique values are lesser so ypu can use normal method of one hot encoding
#thank you and enjoy decoding